<div class="container p-2">
    <h3 class="header"> Treas por hacer</h3>
    <div class="row">
        <div class="col-6 text-right">
            <div class="card">
                <div class="card-body">
                    <input type="text" #busqueda (keyup)="search(busqueda.value)" class="form-control form-control-line" placeholder="Buscar tareas">
                </div>
            </div>
        </div>
        <div class="col-6 text-right">
            <div class="card">
                <div class="card-body">
                    <button type="button" (click)="new()" class="btn btn-primary" data-toggle="modal" data-target="#create-edit">Nueva Tarea <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Tarea
                                </th>
                                <th class="text-right">
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let todoItem of toDoList">
                                <td class="w-50 "> {{ todoItem.title }} <br>
                                    <small class="text-secondary" style="word-break: break-all;"> {{todoItem.description}}</small> </td>
                                <td class="w-50 text-right">
                                    <button title="Editar" (click)="edit(todoItem)" class="btn btn-sm btn-secondary mr-1" data-toggle="modal" data-target="#create-edit">
                                        <i class="fa fa-edit"></i>
                                    </button>

                                    <button title="Completar" (click)="delete(todoItem)" class=" btn btn-sm btn-primary">
                                      <i class="fa fa-check"></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="create-edit" class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    <span *ngIf="isNew">Nueva Tarea</span>
                    <span *ngIf="!isNew">Editar Tarea</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row form-group">
                        <div class="col-md-12 m-b-20">
                            <input #title [(ngModel)]="ToDo.title" name="title" type="text" class="form-control" placeholder="Titulo" autocomplete="off"> </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 m-b-20">
                            <textarea [(ngModel)]="ToDo.description" name="valor" class="form-control" placeholder="Descripción" autocomplete="off" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="cancelEdit()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button [attr.disabled]="ToDo.title.length === 0 ? true: null" type="button" (click)="save()" class="btn btn-primary" data-dismiss="modal">
                    <span *ngIf="isNew">Guardar</span>
                    <span *ngIf="!isNew">Guardar Cambios</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- <pre>
  {{ toDoList | json }}
</pre> -->